form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}

form a {
    align-self: center;
    width: 100%;
}

.form-field {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    border: 1px solid pink;
    padding-bottom: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-img img {
    height: 350px;
    object-fit: cover;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 52px;
    color: #222831;

}

h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

p {
    color: rgb(50, 0, 0);
    text-align: center;
    padding: 0 10px;
}

.article-form p {
    text-align: left;
}

button {
    border: none;
    background-color: transparent;
}

.more-btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.more-btn:hover {
    text-decoration: none;
    color: purple;
}

.category-btn {
    padding: 7px 0;
    background-color: palevioletred;
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
}

.category-btn:hover {
    background-color: pink;
}

.article-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.article-btns a {
    width: fit-content;
}

.slider-field {
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.3);
}

.line {
    height: 2px;
    background-color: white;
}

.hide-on-mobile {
    display: none;
}

.article-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.article-title {
    font-size: 32px;
    font-style: italic;
    margin-bottom: -20px;
}

.article-form .category-btn {
    padding: 10px 20px;
    border-radius: 10px;
}

.back-btn {
    position: absolute;
    bottom: 0;
    right: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: lightcoral;
    color: white;
}

.slider img {
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid white;
    border-left: 0;
}

@media (min-width: 768px) {
    .hide-on-mobile {
        display: block;
    }
}
