.like-btn {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.dislike-btn {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
