.like-btn {
    border: 2px solid pink;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}

.dislike-btn {
    border: 2px solid black;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 5px;
}

.dislike-btn:hover {
    border-color: pink;
}