@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.orange-btn {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
}

.orange-btn:hover {
    border-color: white;
}
