@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

.orange-btn {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(255, 115, 0);
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.orange-btn:hover {
    border-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: black;
}

.categories-btn {
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: grey;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 24px;
}

.category-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.categories-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.article-description {
    font-size: 18px;
    color: brown;
    margin-bottom: 50px;
}

.about-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info {
    font-size: 20px;
    color: blanchedalmond;
    margin-bottom: 15px;
}

.avatar {
    margin-bottom: 30px;
    width: 400px;
}

@media (min-width: 700px) {
    .category-row {
        flex-direction: row;
    }
}
