.header {
    background-color: #321F28;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 30px;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    width: 33.3%;
    height: 40px;
    position: relative;
}

.navigation {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

.nav-bar span {
    height: 2px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 12px;
    left: 10px;
}

.navigation:hover span {
    background-color: antiquewhite;
}

.navigation:hover {
    border-color: pink;
}

.nav-bar span:nth-child(2) {
    top: 19px;
}

.nav-bar span:nth-child(3) {
    top: 26px;
}

.logo {
    width: 33.3%;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
}

.menu {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
    position: relative;
    list-style-type: none;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-top: 11px;
    margin-left: -60px;
    width: 165px;
    font-size: 14px;
}

.submenu .orange-btn {
    border-top: 0;
}

li:hover .submenu {
    display: block;
}

.menu li:hover a {
    color: black;
}

.submenu li:hover a {
    color: white;
}
